@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('opentype');
}

:root {
	--background-color: #1F2937;
}

[data-theme="dark"] {
	--background-color: white;
}

html, body {
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-size: 1rem;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: white;
    scrollbar-color: rgb(24 8 100) transparent;
}

.heading-1{
    font-size: 60px;
    line-height: 72px;
}
.heading-2{
    font-size: 48px;
    line-height: 60px;
}
.heading-3{
    font-size: 36px;
    line-height: 48px;
}

.subtitle-1{
    font-size: 24px;
    line-height: 32px;
}

.subtitle-2{
    font-size: 20px;
    line-height: 28px;
}

.body-1{
    font-size: 16px;
    line-height: 24px;
}


/*
 * Buttons
 */
.custom-button{
    transition: all 0.2s ease-out;
}
 .custom-button:hover{
   opacity: 0.8;
 }


  /*
  * Icons
  */
.icon-small{
  width: 16px;
  height: 16px;
}
.icon{
  width: 32px;
  height: 32px;
}
.icon-large{
  width: 40px;
  height: 40px;
}

  /*
  * Cards
  */
  .card{
    transition: all 0.25s ease-out;
    cursor: pointer;
  }
  .card:hover{
    background-color: #1D1E2C;
  }
  .card-active{
    background-color: #1D1E2C;
  }



 /*
  * Animations
  */

  .smooth-render{
    opacity: 0;
    animation: fade-in 0.25s ease-out forwards;
  }
  .smooth-render-long{
    opacity: 0;
    animation: fade-in 1.25s ease-out forwards;
  }
  @keyframes fade-in{
    to{
      opacity: 1;
    }
  }

  .fade-out{
    opacity: 1;
    animation: fade-out 0.7s ease-out forwards;
  }
  @keyframes fade-out{
    to{
      opacity: 0;
    }
  }






  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(var(--background-color), white);
    position: relative;
    animation: spin 1.4s linear infinite;
    transform: translateZ(0);
  }
  
  .spinner::after {
    background: #191414;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-text{
      display: inline-block;
      animation: fontJump 1s infinite;
      animation-delay: calc(.1s * var(--i));
  }

  @keyframes fontJump {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
  }